@model AllNewsQueryModel

<div>
    <form method="get">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Политика, Икономика, Туризъм и др...">
            </div>
        </div>
    </form>
</div>

<div class="row">
    @{
        foreach (var aNews in Model.News)
        {
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="@aNews.ImageUrl" class="card-img-top" alt="@aNews.Area => @aNews.Title - @aNews.Date (@aNews.Category)">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@aNews.Area => @aNews.Title (@aNews.Date)</h5>
                    <a asp-controller="News" asp-action="Details" asp-route-id="@aNews.Id" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>


        }
    }
</div>

