@model AllNewsQueryModel

<form method="get">
    <div class="row mb-5">
        <div class="form-group col-md-4">
            <label asp-for="Area"></label>
            <select asp-for="Area" class="form-control">
                <option value="">All</option>

                @foreach (var area in Model.Areas)
                {
                    <option value="@area">@area</option>

                })
            </select>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Днес във Варна пристига...">
        </div>

        <div class="form-group col-md-3">
        </div>

        <div class="form-group col-md-4">
        </div>
    </div>
    <input type="submit" class="btn btn-primary d-none">

</form>
   

<div class="row">
    @{
        foreach (var aNews in Model.News)
        {
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="@aNews.ImageUrl" class="card-img-top" alt="@aNews.Area => @aNews.Title - @aNews.Date (@aNews.Category)">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@aNews.Area => @aNews.Title (@aNews.Date)</h5>
                    <a asp-controller="News" asp-action="Details" asp-route-id="@aNews.Id" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>


        }
    }
</div>

